
body {
    font-family: 'Nunito', sans-serif; 
    color: #333; 
    background-color: #e4adbc;
    margin: 0;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    box-sizing: border-box;
}

/* New user link styles */
.new-user p {
    font-size: 10.9 ;
    color: #af093c; 
    display: inline; 
    margin: 20px; 
}

.new-user a {
    font-size: 10.9 ;
    color: #af093c; 
    font-weight: 800; 
    text-decoration: none; /* Remove underline */
}

.new-user a:hover {
    text-decoration: underline; 
}


.box {
    width: 300px; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    background-color: #f9f9f9; 
    text-align: center; 
}

h1 {
    font-size: 32px; 
    font-weight: 1000; 
    text-align: center;
    color: #af093c; 
}

.input-group {
    margin: 5px 0; 
}

label {
    display: block; 
    margin-bottom: 0px; 
    font-weight: 400; 
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 80%; /* Set width for input fields */
    background-color: #efefef; /* Background color for input fields */
    color: #333; /* Text color in input fields */
    padding: 10px; /* Padding for inputs */
    margin: 10px 0; /* Margin for spacing */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 30px; /* Rounded corners */
}

/* Button styles */
button {
    width: 80%; 
    background-color: #af093c; 
    color: white; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    padding: 10px; 
    margin: 20px auto 10px; 
    display: block; 
}

div.scrollmenu {
    background-color: #fff;
    overflow-y: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }